{% extends "encyclopedia/layout.html" %}

{% block title %}
    New Page
{% endblock %}

{% block body %}
    <h1 class="ml-4 mb-3">Create a New Entry:</h1>

    <form class="ml-4 mr-5" action="{% url 'encyclopedia:new' %}" method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="entry_title" class="form-label">Title:</label>
            <input type="text" class="form-control" id="entry_title" name="entry_title" 
                   placeholder="Title of Entry" value="{{title}}" required>
            
            {% if messages %}
            <div class="alert alert-danger mt-1 mb-1 col-3">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <div class="mb-3">
            <label for="entry_content" class="form-label">Entry:</label>
            <textarea class="form-control" id="entry_content" name="entry_content" rows="10" 
                      placeholder="Entry in Markdown format..." required>{{content}}</textarea>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary mb-3">Save</button>
        </div>
    </form>
    
    

{% endblock %}