{% extends "network/layout.html" %}

{% block body %}
    <hr class="mx-4">
    <h1 class="m-4">Following Posts</h1> 
    {% if not followingPosts %}
        <div class="m-4">You have no posts in Following. Follow more people first!</div>
    {% endif %}
    {% for post in followingPosts %}
    <div class="m-4 p-4 border">
        <h3 id="post_username" style="cursor:pointer;">
            <a href="{% url 'user' post.user.username 1 %}" style="text-decoration: none;">{{ post.user.username }}</a>
        </h3>
        <p class="my-2">{{ post.body }}</p>
        <div>
            <i class="fa-solid fa-heart" style="color: #ff708d; cursor:pointer" onclick="toggleLike({{post.id}})"></i>
            <p id="likes-count-{{post.id}}" style="display: inline;">{{ post.likes.count }}</p>
        </div>
        <small class="text-muted">{{ post.time }}</small>
    </div>
    {% endfor %}
    {% if hasNext %}
    <button onclick="goToNextPage()" class="m-4 px-4 btn btn-primary" style="float:right;">Next</button>
    {% endif %}

    {% if hasPrev %}
    <button onclick="goToPreviousPage()" class="m-4 px-4 btn btn-primary">Prev</button>
    {% endif %}
{% endblock %}

{% block script %}
    <script type="text/javascript">
        function goToNextPage() {
            document.location.href = "{% url 'following' nextPage %}"
        }

        function goToPreviousPage() {
            document.location.href = "{% url 'following' prevPage %}"
        }

        function toggleLike(postId) {
            fetch(`/posts/${postId}`, {
                method: 'PUT',
                body: JSON.stringify({
                    attribute: 'like'
                })
            })
            .then(result => result.json())
            .then(data => {
                document.querySelector(`#likes-count-${postId}`).innerText = data.likes
            })
        }
    </script>
{% endblock %}