{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    {% for listing in listings %}
    {% if listing.is_open %}
        <div class="row align-items-center border mx-5 my-3">
            <div class="col-4 text-center">
                {% if listing.image %}
                <img class="img-thumbnail" style="height: 300px;" src="{{ listing.image }}" alt="Card image cap">
                {% else %}
                <p style="color: grey;">No image</p>
                {% endif %}
            </div>
            <div class="col-8 my-4">
                <h5 class="card-title">{{ listing.title }}</h5>
                <p class="card-text">{{ listing.description }}</p>
                <div class="alert alert-secondary" style="display: inline-block;" role="alert">Current price: ${{ listing.bid.amount }}</div>
                <br>
                <a href="{% url 'listing' listing.id %}" role="button" class="btn btn-primary">See Listing</a>
            </div>
        </div>
    {% endif %}
    {% endfor %}
{% endblock %}